/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
}

.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
}

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
    transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
    transform: translateY(-5px);
}